<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639240031678-ccvnk4e2pqs4gh4511f58j77okpneiq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639240031678-ccvnk4e2pqs4gh4511f58j77okpneiq7</string>
	<key>API_KEY</key>
	<string>AIzaSyCIFZDr1yiTyrCs-23mWfOtNFeMJoW1r2U</string>
	<key>GCM_SENDER_ID</key>
	<string>639240031678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasksApp</string>
	<key>PROJECT_ID</key>
	<string>moviles-77214</string>
	<key>STORAGE_BUCKET</key>
	<string>moviles-77214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639240031678:ios:28bd941992ddad2ddbfdef</string>
</dict>
</plist>